vehicle-service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vehicle_register.x-road.ee"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="vehicle_register" targetNamespace="http://vehicle_register.x-road.ee">
	<wsdl:types>
		<xsd:schema targetNamespace="http://vehicle_register.x-road.ee">
			<xsd:import namespace="http://x-road.eu/xsd/xroad.xsd"
				schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
			<xsd:element name="vehicleList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="firstName" type="xsd:string">
							<xsd:annotation>
								<xsd:appinfo>
									<xrd:title xml:lang="et">Eesnimi</xrd:title>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lastName" type="xsd:string">
							<xsd:annotation>
								<xsd:appinfo>
									<xrd:title xml:lang="et">Perekonnaninmi</xrd:title>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="vehicleListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="person" type="tns:person">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="contact">
				<xsd:sequence>
					<xsd:element name="phone" type="xsd:string" maxOccurs="unbounded"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title xml:lang="et">Telefon</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="e-mail" type="xsd:string" maxOccurs="unbounded"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title xml:lang="et">E-post</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="address" type="xsd:string"
						maxOccurs="1" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title xml:lang="et">Aadress</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="person">
				<xsd:sequence>
					<xsd:element name="personId" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title xml:lang="et">Isikukood</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="firstName" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title xml:lang="et">Eesnimi</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="lastName" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title xml:lang="et">Pereninmi</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="birthDate" type="xsd:date">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title xml:lang="et">Sünniaeg</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="personContact" type="tns:contact">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title xml:lang="et">Kontaktinfo</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="xrdheader">
		<wsdl:part name="client" element="xrd:client" />
		<wsdl:part name="service" element="xrd:service" />
		<wsdl:part name="userId" element="xrd:userId" />
		<wsdl:part name="id" element="xrd:id" />
		<wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
	</wsdl:message>

	<wsdl:message name="vehicleListRequest">
		<wsdl:part element="tns:vehicleList" name="parameters" />
	</wsdl:message>
	<wsdl:message name="vehicleListResponse">
		<wsdl:part element="tns:vehicleListResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="vehicle_register">
		<wsdl:operation name="vehicleList">
			<wsdl:documentation>
				<xrd:title xml:lang="et">Sõidukite nimekirja küsimine sõiduki tüübi järgi</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:vehicleListRequest" />
			<wsdl:output message="tns:vehicleListResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="vehicle_registerSOAP" type="tns:vehicle_register">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="vehicleList">
			<soap:operation soapAction="http://vehicle_register.x-road.ee/NewOperation" />
			<xrd:version>v1</xrd:version>
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:xrdheader" part="client" use="literal" />
				<soap:header message="tns:xrdheader" part="service" use="literal" />
				<soap:header message="tns:xrdheader" part="userId" use="literal" />
				<soap:header message="tns:xrdheader" part="id" use="literal" />
				<soap:header message="tns:xrdheader" part="protocolVersion"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:xrdheader" part="client" use="literal" />
				<soap:header message="tns:xrdheader" part="service" use="literal" />
				<soap:header message="tns:xrdheader" part="userId" use="literal" />
				<soap:header message="tns:xrdheader" part="id" use="literal" />
				<soap:header message="tns:xrdheader" part="protocolVersion"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="vehicle_register">
		<wsdl:port binding="tns:vehicle_registerSOAP" name="vehicle_registerSOAP">
			<soap:address
				location="http://localhost:8080/vehicle_register/services/vehicle_registerSOAP" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>